{% extends "base-ds-4.html" %}

{% block extend_css %}
    <link rel="stylesheet" type="text/css" href="static/post.css">
{% endblock %}

{% block post_active %}active{% endblock %}

{% block main_content %}
    <div class="dynamic-container">
        {% for item in post %}
            <div class="dynamic-box">
                <!-- 动态头部信息 -->
                <div class="dynamic-header">
                    <div class="publish-date">{{ item.time_str }}</div>
                    <div class="dynamic-category">{{item.post_tag}}</div>
                </div>
                <!-- 动态内容 -->
                <div class="dynamic-content">
                    {{ item.post_content }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}